<div id="<%= dom_id question %>">
<div class = "mb-sm" >
  <%= question.body %>
</div>

<div class = "text-sm question-footer" >
  <div class="text-grey" >
    <%= question.created_at %>
  </div>
</div>

</div>
