<% if question.anwser.presence %>
    <div class="container">
        <div class = "%mb-sm" >
          <%= question.anwser.body %>
              <% if question.user == current_user %>
                <%= button_to "Delete Anwser", user_question_anwser_path(user_id: question.user.id, question_id: question.id), method: :delete, class: "button button-main" %>
              <% end %>
        </div>

        <div class = "text-sm question-footer" >
          <div class="text-grey" >
            <%= question.anwser.created_at %>
          </div>
        </div>
    </div>
<% end %>



