<% if question.anwser.presence %>
    <div class="anwser">
        <div class = "mb-sm d-space-between" >
          <%= question.anwser.body %>
              <% if question.user == current_user %>
                <%= button_to inline_svg_tag("delete.svg", class: 'svg-picture delete'), user_question_anwser_path(user_id: question.user.id, question_id: question.id), method: :delete, class: "button delete" %>
              <% end %>
        </div>

        <div class = "text-sm question-footer" >
          <div class="text-grey" >
            <%= question.anwser.created_at %>
          </div>
        </div>
    </div>
<% end %>



