<div>
  <%= link_to "Редактировать профиль", edit_user_path(current_user), class: "button button-main" %> |
  <%= button_to "Удалить аккаунт", current_user, method: :delete, class: "button button-main" %>
</div>