.form-text-area,
.form-text-field{
  border: 1px solid #c0d0d0;
  padding: 7.5px 10px;
}

.form-text-area:focus,
.form-text-field:focus{
  background-color: #DBEDBF;
  outline-width: 0;
}

.form-text-area{
  box-sizing: border-box;
  width: 100%;
}
.d-none{
  display: none;
}

.avatar-mini {
  border-radius: 50%;
  height: 5vw;
  width: 5vw;
}
.avatar-big {
  border-radius: 50%;
  height: 8vw;
  width: 8vw;
}

.navbar .line{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navbar .line .container{
  background: transparent;
}