.question-footer{
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.question {
  margin: 10px 10px;
  padding: 20px;
  border-radius: 16px;
  background: rgba(180, 180, 180, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

.svg-picture{
  transition: 0.5s;
  width: 20px;
  height: 20px;
}
.svg-picture.delete:hover{
  color: red;
}

.svg-picture.reply{
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  color: rgb(71, 120, 255, 0.8);
  background: rgb(71, 120, 255, 0.2);
}
.svg-picture.reply:hover{
  color: #4778ff;
  background: rgb(71, 120, 255, 0.4);
}

.d-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
